body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #444;
}

/* Search screen styling */

.container {
    width: 500px;
    height:400px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}

#search-screen-title h1 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

form {
    margin-top: 15%;
}

.search-opt {
    padding-top: 10px;
}

.search-opt label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.search-opt input{
    padding: 3px;
    font-size: large;
    color: #939393;
    border-radius: 5px;
    
}
.search-opt-1 label {
    margin-right: 45px;
}

.search-opt-2 label {
    margin-right: 135px;
}

.button {
    padding: 5px;
    margin-top: 20px;
}
.submit-btn input {
    width: 40%;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;  
    background-color: #fefdfb;
}

.submit-btn input:hover {
    color: #5D80CB;
}

li {
    list-style: none;
}



/* Results screen styling  */

/* div that displays when results are found is hidden until the class is removed */
.hidden {
    display: none;
}

/* div that displays when no results are found is hidden until the class is removed */
.noresult-hidden{
    display: none;
}
#event-results {
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding:10px;
    overflow: auto;
    border: 1px solid #c2c6c9;
    border-radius: 5px; 
    background-color: #fff;
    
}

.button {
    padding: 5px;
    margin-top: 4px;
}


.search-results-list {
    padding-left: 10px
}
.search-results-li {
    height: 90px;
    list-style: none;
    border-bottom: solid 1px #c2c6c9;
}

.item-details {
    margin-top: 10px;
}

.item-MixInfo span {
    color: #87909A;
    font-size: small;
}

.event-item-date-image {
    float: left;
    margin-right: 11px;
    width: 100px;
    display: table-cell;
    
}

img {
    width: 96px;
    height: 56px;
    background: transparent;
    border-radius: 5px;
}

.event-item-date-image span {
    color: #00A1A1;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
}
.item-header  {
    color: #0F5B99;
    font-family: 'Roboto',  sans-serif;
    font-size: medium;
    
}

.item-purchase a {
    color: #00A1A1;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


@media only screen and (max-width: 440px) {
 
    .container {
        width: 300px;
        margin-top: 100px;
        height: 300px;   
    }

    #js-form {
        margin-top: 40px;
    }

    #event-results {
        width: 300px;
        height: 500px;
        margin-top: 50px;
    }
    
    .search-results-li {
        height: 120px;
    }

    .event-item-date-image {
        width: 30px;
        height: 120px;
    }

    .event-item-date-image span {
        font-size: 15px;
        font-family: Arial, sans-serif;
    }

    .item-purchase a {
        font-family: arial, sans-serif;
        color: #2380ca;
        
    }

    .item-header {
        color: #2380ca;
        font-size: 15px;
    }
    

    .item-MixInfo span {
        color: #000;
        font-size: 12px;
    }

    img {
        width: 0px;
        height: 0px;
    }
}
@media only screen and (max-width: 770px) and (min-width: 441px) {
    
    .container {
        margin-top: 100px;
    }
    #search-screen-title h1 {
        font-size: 1.8rem;
    }
    
    .submit-btn input {
        width: 40%;
    }
    
    #event-results {
        width: 450px;
        margin-top: 70px;    
    }
    .search-results-li {
        height: 120px;
    }
    .event-item-date-image {
        height: 100%;
    }
    .item-purchase a {
        font-family: arial, sans-serif;
        font-size: medium;
    }

    .item-MixInfo span {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(red, green, blue);
        font-size: medium;
    }
}

